@using Microsoft.AspNetCore.Components.Forms
@using Applications.Web.Shared.Models

<h3>LoginForm</h3>

<div class="text-center">
    <h1 class="display-4">Login @SessionId (@UserId):</h1>

    <button @onclick="@(async() => await OnSubmitButtonCallback.InvokeAsync(543))">Login</button>

    <EditForm Model="@loginData" FormName="main-form" OnValidSubmit="SubmitButton">
        <DataAnnotationsValidator />
        <ValidationSummary></ValidationSummary>
        <InputText id="login" @bind-Value="loginData.Login"></InputText>
        <ValidationMessage For="@(() => loginData.Login)" />
        <InputText id="password" @bind-Value="loginData.Password"></InputText>
        <ValidationMessage For="@(() => loginData.Password)" />
        <button type="submit">Button</button>
    </EditForm>

    <p>@message</p>
</div>

@code {
    [Parameter]
    public string SessionId { get; set; }

    [CascadingParameter(Name = "UserId")]
    public string UserId { get; set; }

    [Parameter]
    public EventCallback<int> OnSubmitButtonCallback { get; set; }

    public LoginRequest loginData = new LoginRequest();
    public string message = "";
    public async Task SubmitButton()
    {
        message = "work";
    }
}
